streamlit
plotly
pandas
yfinance
requests
beautifulsoup4
lxml
google-play-scraper
scikit-learn
nltk
openpyxl
deep_translator

streamlit
pandas
plotly
google-play-scraper
transformers
torch
sentencepiece